<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Callsheet</th>
      <th>Antenna</th>
      <th>PDiary</th>
      <th>SDiary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2022.0763</td>
      <td>S06</td>
      <td>Feed is not rotating. Restarted DS of fps and fecb.</td>
      <td>USB-RS485 cable changed.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2022.0758</td>
      <td>S06</td>
      <td>Feed is not rotating.</td>
      <td>Restarted everything which solved the problem.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2022.0335</td>
      <td>W01</td>
      <td>fps and fecb sub system is showing disconnected status.</td>
      <td>Restarted the Device Client programs</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2022.0300</td>
      <td>W01</td>
      <td>Feed is not rotating.</td>
      <td>FPS system was malfunctioning due to which deviceClient got killed</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2022.0226</td>
      <td>E04</td>
      <td>NaN</td>
      <td>It was a brief communication issue</td>
    </tr>
  </tbody>
</table>