<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Callsheet</th>
      <th>Antenna</th>
      <th>PDiary</th>
      <th>SDiary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2023.1931</td>
      <td>C11</td>
      <td>725 MHz RF not set  for ch-1. * File 1 Attached. * File 2 Attached.</td>
      <td>FECB Device Client software is updated</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2023.1168</td>
      <td>S01</td>
      <td>multiple RF settings and MCM Switching commands (from TGC-ONL-TGC) to get RF set at antenna.</td>
      <td>Old Online was not running</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2023.1167</td>
      <td>E02</td>
      <td>multiple RF settings and MCM Switching commands (from TGC-ONL-TGC) to get RF set at antenna.</td>
      <td>Old Online was not running.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2023.0462</td>
      <td>CMN</td>
      <td>\nDescription : Walsh Testing with Rabbit MCM 0 \nApproved : AllAvailableAnteenae,GWB\nGSE Remark : Co-exist with Ankur, Coordinate with BTA for C04</td>
      <td>Test completed successfully</td>
    </tr>
  </tbody>
</table>