<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Callsheet</th>
      <th>Antenna</th>
      <th>SDiary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2021.1812</td>
      <td>W06</td>
      <td>Miltech PC was switched on using Rabbit webpage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2021.1696</td>
      <td>E03</td>
      <td>LMC is UP and Communicating</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2021.1654</td>
      <td>E03</td>
      <td>LMC restart solved the issue</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2021.1637</td>
      <td>W01</td>
      <td>Device Server restart solved the problem</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2021.1552</td>
      <td>W06</td>
      <td>Machine was in hang state</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2021.1530</td>
      <td>W06</td>
      <td>LMC machine powered on</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2021.1526</td>
      <td>E05</td>
      <td>Device Server restarted</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2021.1525</td>
      <td>E04</td>
      <td>Device Server restarted</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2021.1332</td>
      <td>CMN</td>
      <td>Due to C10 LMC AGN1 hanged.</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2021.1282</td>
      <td>C12</td>
      <td>At present C12 FPS is working</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2021.0985</td>
      <td>CMN</td>
      <td>C02 antenna electrical problem was affecting the AGN1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2021.0981</td>
      <td>E05</td>
      <td>Restarted the DS</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2021.0974</td>
      <td>E02</td>
      <td>Restarted the deviceClient</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2021.0820</td>
      <td>S06</td>
      <td>LO group power supply had issues</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2021.0818</td>
      <td>E06</td>
      <td>E06 GAB device server started</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2021.0814</td>
      <td>E06</td>
      <td>Hardware reset solved the problem</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2021.0813</td>
      <td>S02</td>
      <td>hardware reset solved the problem</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2021.0798</td>
      <td>CMN</td>
      <td>Work Completed</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2021.0765</td>
      <td>W03</td>
      <td>CPU fan was replaced</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2021.0681</td>
      <td>W03</td>
      <td>Problem is not visible right now.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2021.0678</td>
      <td>W04</td>
      <td>Antenna working at present</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2021.0672</td>
      <td>W04</td>
      <td>Restarted the Device Client program</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2021.0349</td>
      <td>C12</td>
      <td>Restarted the FPS device Client</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2021.0144</td>
      <td>C06</td>
      <td>C06 LMC is UP Now</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2021.0051</td>
      <td>C08</td>
      <td>Replaced IF system PIU, now working properly.</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2021.0012</td>
      <td>C13</td>
      <td>New GUI displayed the correct Array Status</td>
    </tr>
  </tbody>
</table>